body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #000;
  font-family: "Saira Extra Condensed", sans-serif;
  text-align: center;
  color: #4bac42;
  font-size: 25px;  
  width: 100%;
}
h1 {
  font-family: "Orbitron", sans-serif;
  background-color: #000;
  width: 100%;
  padding: 20px auto 30px;
  color: #4bac42;
  display: inline-block;
  font-size: 50px;
  border-bottom: 2px solid #93A654;
}
#box {
  background-color: #000;
  width: 740px;
  margin: 20px auto 100px;
  border-radius: 5px;
  border-bottom: 2px solid #93A654;
}
button {
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  background-color: #4bac42;
  text-transform: uppercase;
  padding: 15px 15px 10px;
  border: none;
  margin: 20px 0;
  border-radius: 5px;
  -webkit-animation-name: colorshift; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
  animation-name: colorshift;
  animation-duration: 6s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes colorshift {
  from {background-color: #000;}
  to {background-color: #93A654;}
}

/* Standard syntax */
@keyframes colorshift {
  from {background-color: #000;}
  to {background-color: #4bac42;}
}
#start:hover {
  color: #93A654;
  background-color: #000;
}
.question {
  font-size: 30px;
  padding: 20px;
}
h2 {
    font-size: 40px;
}
footer {
    background-color: #000;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px;
    border-top: 2px solid #93A654;
    color: #9e9e9e;
}

@media screen and (max-width: 640px){
    /* General */
    body,
    #container {
        width: 100%;
    }
    #box {
        padding: 20px auto;
        margin: 20px auto;
        width: 100%;
    }
    button {
        width: 100%;
    }
    #box {
      margin: 20px auto 110px;